.btn {
  background-color: whitesmoke;
  color: black;
  border: 1px solid gainsboro;
  padding: 20px 70px;
  margin: 10px 10px;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.87;
}

.btn:hover,
.btn:focus {
  background-color: rgb(122, 162, 236);
  color: aliceblue;
}

.btn.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
